@model IEnumerable<LibaryApplication2.Models.Book>

@{
    ViewBag.Title = "Index";
    int pageNum = ViewBag.Page ?? 1;
    int totalCount = ViewBag.TotalCount ?? 0;
    int maxListCount = ViewBag.MaxListCount ?? 1;

    int totalPageCount = Convert.ToInt32(Math.Ceiling((double)totalCount / maxListCount));
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!-- (골뱅이)item.Title 로 기입해도 무관하다.-->
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @item.Writer <!-- 이렇게 말이다.-->
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Book_U }) |
            @Html.ActionLink("Details", "Details", new { id=item.Book_U }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Book_U })
        </td>
    </tr>
}

</table>
<form style="width:360px;float:left;">
    <div class="input-group">
        <span class="input-group-addon">
            <select name="searchKind" class="form-control">
                <option value="Title" @(ViewBag.SearchKind == "Title" ? "selected" : ""))>제목</option>
                <option value="Writer" @(ViewBag.SearchKind == "Writer" ? "selected" : "")>저자</option>
                <option value="Publisher" @(ViewBag.SearchKind == "Publisher" ? "selected" : "")>출판사</option>

            </select>
        </span>
        <input class="form-control" type="text"  name="keyword" value="@(ViewBag.Keyword)"/>
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit">검색</button>
        </span>
    </div>
</form>

<div class="text-center">
    <div class="btn-group">
        @for(int i = 1; i <= totalPageCount; i++)
        {
            <a href="?page=@i" class="btn btn-@(pageNum == i ? "primary" : "default")">@i</a> 
        }
    </div>
</div>
